html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #1D1D1D;
  background-color: #FFFFFF;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header__connection {
  margin-bottom: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__numbers {
  font-size: 16px;
  font-weight: 400;
  color: #1D1D1D;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__numbers .call {
  display: inline-block;
  margin-right: 63px;
}

.header__apartments {
  margin-top: -2px;
}

.header__apartments .house {
  letter-spacing: 0.2em;
  display: inline-block;
  margin: 0 16px;
  color: #773E0A;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__apartments .apartments {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  display: inline-block;
  color: #212C3D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 38px 0;
  padding: 35px 0 7px 0;
  background-color: #F9FBFE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__main .nav {
  margin-left: 30px;
}

.header__main .nav__link {
  letter-spacing: -1px;
  font-weight: 800;
  color: #111111;
  text-decoration: none;
  font-size: 15px;
  margin-right: 73px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__main .nav__link:hover {
  color: #FF6363;
}

.header__btn {
  margin-right: 7px;
}

.header__btn button {
  cursor: pointer;
  padding: 16px 32px;
  border: 2px solid #5E9EFF;
  background-color: #FFFFFF;
  color: #5E9EFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 900;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__btn button:hover {
  background-color: #5E9EFF;
  color: #FFFFFF;
}

.header__offers {
  text-align: center;
  padding-right: 205px;
}

.header__offers__inner a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  padding: 10px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1D1D1D;
  border: 2px solid #EFEFEF;
}

.choice {
  padding: 67px 0 0 0;
}

.choice__container {
  width: 100%;
  max-width: 1620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.choice__container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 150px;
}

.choice__item-left {
  margin: 0 30px 0 60px;
  width: 703px;
  height: 581px;
}

.choice__item-left h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 1.3;
  color: #1D1D1D;
  margin-bottom: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choice__item-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  max-width: 378px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choice__item-left a {
  margin-top: 100px;
  text-decoration: none;
  padding: 22px 39px;
  background-color: #FF9C25;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 900;
}

.choice__item-left button {
  margin-left: 18px;
  cursor: pointer;
  padding: 22px 32px;
  border: 2px solid #C4C4C4;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.choice__item-left button:hover {
  background-color: #C4C4C4;
  color: #FFFFFF;
}

.choice__item-right {
  background-image: url(/image/choice/choise.png);
  background-size: cover;
  width: 775px;
  height: 581px;
  position: relative;
}

.choice__text {
  border-top: 5px solid #FF6363;
  position: absolute;
  bottom: 0;
  width: 461px;
  height: 140px;
  background-color: #2A2A2A;
}

.choice__text__item {
  margin-left: 40px;
  margin-top: 33px;
}

.choice__text h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}

.choice__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  position: relative;
}

.choice__text img {
  position: absolute;
  bottom: 10px;
  right: 30px;
  cursor: pointer;
}

.choice__item-left::after {
  content: "";
  display: block;
  height: 581px;
  width: 4px;
  background-color: #E4EAF4;
  color: red;
  position: relative;
  top: -400px;
  left: -130px;
  z-index: 1;
}

.details {
  margin-top: 45px;
  margin-left: 20px;
}

.details__container {
  max-width: 1800px;
  width: 100%;
  height: 403px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 31, 31, 0.6))), url(/image/details/details.png);
  background: linear-gradient(rgba(31, 31, 31, 0.6)), url(/image/details/details.png);
  background-size: cover;
}

.details__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.details__item {
  max-width: 390px;
}

.details__item h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 14px;
  margin-top: 48px;
}

.details__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 43px;
}

.details__project {
  padding: 17px 58px;
  border: 2px solid #C4C4C4;
  text-decoration: none;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.details__project:hover {
  background-color: #C4C4C4;
  color: #FFFFFF;
}

.details__btn {
  margin-top: 115px;
}

.details__btn a {
  background: url(/image/details/details_dzin.svg) no-repeat;
  background-position: 10%;
  padding: 25px 27px 25px 58px;
  background-color: #5E9EFF;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.details__item__apartments {
  background-color: #2A2A2A;
  width: 390px;
  height: 280px;
  margin-top: 123px;
  text-align: center;
  border-top: 5px solid #FF6363;
}

.details__item__apartments p {
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 78px;
  margin-bottom: 77px;
}

.details__item__apartments a {
  padding: 23px 100px;
  background-color: #FF9C25;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.details .item__apartments__right {
  margin-left: 50px;
  background-color: #2A2A2A;
  width: 390px;
  height: 210px;
  margin-top: 193px;
  text-align: center;
  border-top: 5px solid #FF6363;
}

.details .item__apartments__right p {
  margin-top: 73px;
  margin-left: 82px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
  max-width: 170px;
}

.rooms {
  padding: 73px 0 100px 0;
}

.rooms__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 66px;
}

.rooms__title h3 {
  font-weight: 900;
  font-size: 25px;
  line-height: 111%;
  color: #1D1D1D;
}

.rooms__title a {
  padding: 22px 69px;
  border: 2px solid #C4C4C4;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  color: #C4C4C4;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.rooms__title a:hover {
  background-color: #C4C4C4;
  color: #FFFFFF;
}

.rooms__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rooms__item {
  padding: 20px;
}

.rooms__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

.rooms__item button {
  border: none;
  margin-top: 100px;
  text-decoration: none;
  padding: 22px 39px;
  background-color: #FF9C25;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 900;
}

.rooms__item:hover {
  margin-top: 20px;
  cursor: pointer;
  outline: 2px solid #F3F3F3;
}

.rooms .item__inner_right {
  margin-left: 40px;
  max-width: 77px;
}

.rooms .item__inner_left {
  max-width: 176px;
}

.rooms__img {
  height: 100%;
  max-height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rooms .item__text-right {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D1D1D;
  display: block;
}

.rooms .item__text-right:not(:last-child) {
  margin-bottom: 12px;
}

.rooms .item__text-left {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #1D1D1D;
  display: block;
  margin-bottom: 16px;
}

.rooms .item__text-left:last-child {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #5E9EFF;
}

.rooms .item__text-left:nth-last-child(2) {
  margin-bottom: 20px;
}

.news {
  margin-top: 120px;
}

.news__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 111%;
  color: #1D1D1D;
  margin-bottom: 40px;
}

.news__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 52px;
}

.news__large {
  padding: 15px 20px 26px 29px;
  background-color: #F9FBFE;
  border-left: 5px solid #FF6363;
  max-width: 445px;
  max-height: 114px;
  margin-bottom: 35px;
  margin-left: 37px;
}

.news__img-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news__img-large:nth-child(1) {
  min-width: 570px;
  min-height: 309px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 49, 49, 0.5))), url(/image/news/img5.png);
  background: linear-gradient(rgba(49, 49, 49, 0.5)), url(/image/news/img5.png);
  background-size: cover;
  margin-bottom: 30px;
}

.news__img-large:nth-child(2) {
  min-width: 570px;
  min-height: 309px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 49, 49, 0.5))), url(/image/news/img6.png);
  background: linear-gradient(rgba(49, 49, 49, 0.5)), url(/image/news/img6.png);
  background-size: cover;
  margin-top: 60px;
}

.news__large h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.news__large p {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  color: #1D1D1D;
}

.news__short {
  max-width: 270px;
}

.news__short h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-top: 15px;
}

.news__short p {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #1D1D1D;
  margin-top: 8px;
}

.news__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 15px;
  row-gap: 30px;
}

.news__button {
  padding: 22px 78px;
  border: 2px solid #C4C4C4;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  color: #C4C4C4;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.news__button:hover {
  background-color: #C4C4C4;
  color: #FFFFFF;
}

.achievements {
  margin-top: 143px;
  margin-bottom: 120px;
}

.achievements__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 111%;
  color: #1D1D1D;
  margin-bottom: 40px;
}

.achievements__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__board-items span {
  font-weight: 800;
  font-size: 60px;
  line-height: 111%;
}

.achievements__board-items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D1D1D;
}

.achievements__board-items:nth-child(1) span {
  color: #F7AC52;
}

.achievements__board-items:nth-child(2) span {
  color: #5E9EFF;
}

.achievements__board-items:nth-child(3) span {
  color: #FF6363;
}

.achievements__board-items:nth-child(4) span {
  color: #5F45FF;
}
/*# sourceMappingURL=style.css.map */