.achievements {
    margin-top: 135px;
    margin-bottom: 102px;


    &__title {
        font-weight: 800;
        font-size: 40px;
        line-height: 111%;
        color: #1D1D1D;

        margin-bottom: 62px;
        margin-left: 6px;
    }

    &__board {
        margin-left: 37px;
        display: flex;
        justify-content: space-between;

        &-items {
            background-color: #F9FBFE;
            width: 232px;
            height: 114px;
        }

        &-items span {
            font-weight: 800;
            font-size: 60px;
            line-height: 111%;
        }

        &-items p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1D1D1D;
        }

        &-items:nth-child(1)  span {
            color: #F7AC52; 
        }

        &-items:nth-child(2)  span {
            color: #5E9EFF; 
        }

        &-items:nth-child(3)  span {
            color: #FF6363;
        }

        &-items:nth-child(4)  span {
            color: #5F45FF;
        }
    }
}
