.footer {
    margin-top: 121px;

    &__banner {
        margin-left: 10px;
        margin-bottom: -124px;
        transform: rotate(-1deg);
        display: flex;
        justify-content: space-around;
        border: 2px solid #2A2A2A;
        padding: 77px 0;
        background-color: #FFFFFF;

        &-item h2 {
            font-weight: 800;
            font-size: 40px;
            line-height: 111%;
            color: #1D1D1D;
        }

        &-item a {
            border: none;
            text-decoration: none;
            padding: 22px 70px;
            background-color: #FF9C25;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            color: #FFFFFF;
            font-size: 16px;
            line-height: 19px;
            font-weight: 900;
        }
    }

    &__contact {
        background-color: #2A2A2A;
    }
    &__container {
        margin-left: 11px;
        display: flex;
        align-items: center;
        
        height: 348px;

        &-item {
            margin-top: 135px;
        }

        &-item p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            max-width: 217px;

            margin-right: 83px;
        }

        &-item span {
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            color: #FFFFFF;


        }

        &-item:not(:last-child) span {
            margin-right: 126px;
        }
    }
}