.news {
    margin-top: 119px;

    &__title {
        margin-left: 6px;
        font-weight: 800;
        font-size: 40px;
        line-height: 111%;
        color: #1D1D1D;

        margin-bottom: 44px;
    }

    &__container {
        margin-left: 11px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 48px;
    }


    &__large {
        padding: 18px 20px 26px 29px;
        background-color: #F9FBFE;
        border-left: 5px solid #FF6363;

        max-width: 445px;
        max-height: 114px;
        margin-bottom: 35px;
        margin-left: 37px;
    }

    &__img-large {
        display: flex;
        align-items: flex-end;
    }

    &__img-large:nth-child(1) {
        min-width: 570px;
        min-height: 309px;
        background: linear-gradient(rgba(49, 49, 49, 0.5)), url(/image/news/img5.png);
        background-size: cover;
        margin-bottom: 30px;
    }

    &__img-large:nth-child(2) {
        min-width: 570px;
        min-height: 309px;
        background: linear-gradient(rgba(49, 49, 49, 0.5)), url(/image/news/img6.png);
        background-size: cover;
        margin-top: 60px;


    }

    &__large h5 {
        margin-left: -6px;
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #000000;
    }

    &__large p {
        margin-left: -4px;
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        color: #1D1D1D;
    }

    &__short {
        max-width: 270px;
    }


    &__short h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #000000;

        margin-top: 15px;
    }

    &__short p {
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: #1D1D1D;

        margin-top: 8px;
    }



    &__columns {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 15px;
        row-gap: 30px;
    }

    &__button {
        padding: 19px 83px;
        border: 2px solid #C4C4C4;

        font-weight: 900;
        font-size: 16px;
        line-height: 1.9;
        color: #C4C4C4;
        text-decoration: none;
        transition: 0.2s linear;
    }

    &__button:hover {
        background-color: #C4C4C4;
            color: #FFFFFF;
    }
}